
.accordion__control {
    background-color: #FFFFFF;
    color: #3d95f7;
    border: 1px solid transparent;
}

.accordion__control:hover {
    text-decoration: underline;
}


.accordion__control:active {
    color: #2d6fb9;
}

.accordion__control:focus {
    border-color: #3d95f7;
    outline: none;
}

.accordion__control:focus:not(:focus-visible) {
  border-color: transparent;
  outline: none;
}

.accordion__control:focus-visible {
    border-color: #3d95f7;
    outline: none;
}

.accordion__control {
    white-space: nowrap;
    font-size: 14px;
}

@media (min-width: 768px) {
    .accordion__control {
        font-size : 22px;
    }
}

@media (min-width: 1240px) {
    .accordion__control {
        font-size : 26px;
    }
}
