
.contact-us {
  background-image: url("../img/photo03_form-contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.webp .contact-us {
  background-image: url("../img/photo03_form-contact.webp");
}

.contact-us__max-width {
  padding: 0 36px;
}

@media (min-width: 768px) {
  .contact-us__max-width {
    padding: 0 50px;
  }
}

@media (min-width: 1240px) {
  .contact-us__max-width {
    max-width: 780px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1240px) {
.contact-us__address {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}

.contact-us__address address {
  font-style: normal;
}

.contact-us__address address ul {
}
.contact-us__address address ul li::before {
  background-color: #bfbfbf;
}

.contact-us__address address ul li {
  color: #bfbfbf;
}
.contact-us__address address a, .contact-us__address address p
{
  display: block;
  padding: 8px;
  color: #bfbfbf;
  text-decoration: none;
  max-width: 400px;
}

.contact-us__address-spacer {
  padding-bottom: 16px;
}


.contact-us__address address h3 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 24px;
}

@media (min-width: 600px) {
  .contact-us__address address h3 {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .contact-us__address address h3 {
    font-size: 26px;
  }
}
