{% max_width max_width %}
<div class="footer">
<footer>
{% buffer buffer, "max_width" %}
<div class="footer__spacer-top"></div>

{% responsive %}
{% container containers, "100_100_100_50_50" %}
{% responsive %}
<ul class="float-left responsive list-reset align-items-center">
<li class="float-left">
{% buffer %}
{% end_buffer %}
</li>
<li class="float-left">
{% buffer %}
{% end_buffer %}
</li>
</ul>
<h2 class="float-left p text-white">MeDDEa Solutions AG</h2>

{% end_responsive %}
{% end_container %}

{% container containers, "100_100_100_50_50" %}
<p class="footer__copyright">
©2021 Some rights reserved
</p>
{% end_container %}
{% end_responsive %}

<div class="footer__spacer-bottom"></div>
{% end_buffer %}
</footer>
</div>
{% end_max_width %}
