<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/responsive/max-width.css">
  <link rel="stylesheet" href="/css/responsive/responsive.css">
  <link rel="stylesheet" href="/css/responsive/container.css">
  <link rel="stylesheet" href="/css/responsive/buffer.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/picture.css">
  <link rel="stylesheet" href="/css/spacers.css">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/css/banner.css">
  <link rel="stylesheet" href="/css/contact-us.css">
  <link rel="stylesheet" href="/css/services.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="stylesheet" href="/css/hero.css">
  <link rel="stylesheet" href="/css/proposal.css">
  <link rel="stylesheet" href="/css/field.css">
  <link rel="stylesheet" href="/css/button-1.css">
  <link rel="stylesheet" href="/css/button-2.css">
  <link rel="stylesheet" href="/css/social-link.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/ui-kit.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
  {% include 'partials/js-detect.njk' %}
</head>
<body>
  {% include 'partials/header.njk' %}
  {{ content | safe }}
      
    {% max_width max_width %}
        <div class="hero">
        <div class="hero__spacer-top"></div>
          <section>
            <div class="hero__inner">
              {% responsive %}
                {% container containers, "100_100_100_40_40" %}
                <div class="hero__content">
                  <p>
                    Comming Up with Creative Solutions
                  </p>
                  <div class="side-border-title">
                    <h1>
                      We care for <br>
                      your <span class="font-weight-800">lorem <br> ipsum dolores</span>
                    </h1>
                  </div>
                  <div class="spacer-24"></div>
                  <div class="p-l-24">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
                    ut aliquip ex ea commodo consequat.</p>
                    <div class="spacer-24"></div>
                    {% buffer %}
                      <a class="button-1" href="#">Read More</a>
                    {% end_buffer %}
                  </div>
                </div>
                {% end_container %}
                {% container containers, "100_100_100_60_60" %}
                <div class="banner__bg">
                  <div class="banner__bg-inner">
                  </div>
                </div>
                {% end_container %}
              {% end_responsive %}
            </div>
          </section>
        </div>
        <div class="services">
          <section>
          <div class="services__bg"></div>
            <div class="services__spacer-top"></div>
            {% responsive %}
              {% container containers, "100_100_50_40_40" %}
              {% end_container %}
              {% container containers, "100_100_50_60_60" %}
              <div class="side-border-title side-border-title--sub">
                <h2 class="h1">The service<br> you <span class="font-weight-800">will get</span></h2>
              </div>
              {% end_container %}
            {% end_responsive %}
            <div class="services__spacer-inner-1"></div>
            {% responsive %}
              {% container containers, "100_100_100_40_40" %}
              {% end_container %}
              {% container containers, "100_100_100_60_60" %}
                <div class="services__content">
                  {% responsive %}
                    {% container containers, "100_100_50_50_50" %}
                        <div class="card">
                          <div class="card__spacer-top"></div>
                          <div class="card__inner">
                            <h3 class="h2">
                                Consulting<br>
                                services
                            </h3>
                            <div class="card__spacer-inner-1"></div>
                            <p>
                                The world's leading consultants in building Dynamic Data Economy components.
                            </p>
                            <div class="card__spacer-inner-2"></div>
                            <div class="mt-auto">
                              {% buffer %}
                                <a class="button-1" href="#">Read more</a>
                              {% end_buffer %}
                            </div>
                          </div>
                          <div class="card__spacer-bottom"></div>
                        </div>
                    {% end_container %}
                    {% container containers, "100_100_50_50_50" %}
                        <div class="card">
                          <div class="card__spacer-top"></div>
                          <div class="card__inner">
                            <h3 class="h2">
                                Code and<br> 
                                Architecture<br> 
                                services
                            </h3>
                            <div class="card__spacer-inner-1"></div>
                            <p>
                                Our experts reviews ensure your systems would meet highest security standards, data protection regulation
                            </p>
                            <div class="card__spacer-inner-2"></div>
                            <div class="mt-auto">
                              {% buffer %}
                                <a class="button-1" href="#">Read more</a>
                              {% end_buffer %}
                            </div>
                          </div>
                          <div class="card__spacer-bottom"></div>
                        </div>
                    {% end_container %}
                    {% container containers, "100_100_100_100_100" %}
                    <div class="services__spacer-inner-2"></div>
                    {% end_container %}
                    {% container containers, "100_100_50_50_50" %}
                        <div class="card">
                          <div class="card__spacer-top"></div>
                          <div class="card__inner">
                            <h3 class="h2">
                                Development
                            </h3>
                            <div class="card__spacer-inner-1"></div>
                            <p>
                                A trusted pair of hands to make sure that you can leverage power of DDE in your products.
                            </p>
                            <div class="card__spacer-inner-2"></div>
                            <div class="mt-auto">
                              {% buffer %}
                                <a class="button-1" href="#">Read more</a>
                              {% end_buffer %}
                            </div>
                          </div>
                          <div class="card__spacer-bottom"></div>
                        </div>
                    {% end_container %}
                    {% container containers, "100_100_50_50_50" %}
                        <div class="card">
                          <div class="card__spacer-top"></div>
                          <div class="card__inner">
                            <h3 class="h2">
                                Training
                            </h3>
                            <div class="card__spacer-inner-1"></div>
                            <p>
                                The world's leading consultants in building Dynamic Data Economy components.
                            </p>
                            <div class="card__spacer-inner-2"></div>
                            <div class="mt-auto">
                              {% buffer %}
                                <a class="button-1" href="#">Read more</a>
                              {% end_buffer %}
                            </div>
                          </div>
                          <div class="card__spacer-bottom"></div>
                        </div>
                    {% end_container %}
                  {% end_responsive %}
                </div>
              {% end_container %}
            {% end_responsive %}
            <div class="services__spacer-bottom"></div>
          </section>
        </div>
    {% end_max_width %}
    {% max_width max_width %}
    <div class="banner">
      <section>
        <div class="banner__spacer-top"></div>
        <div class="banner__max-width">
          <h2 class="h3 text-center text-white">
          Do you need individual <span class="font-weight-600">meeting or consultation?</span>
          </h2>
          <div class="spacer-16"></div>
          <div class="mt-auto mx-auto">
            {% buffer %}
              <a class="button-2" href="#">Contact Us</a>
            {% end_buffer %}
          </div>
        </div>
        <div class="banner__spacer-bottom"></div>
      </section>
    </div>
    {% end_max_width %}
    {% max_width max_width %}
      <div class="proposal">
        <section >
          {% responsive %}
            {% container containers, "100_100_100_35_35" %}
              <div class="proposal__heading">
                <h2 class="h1">Who <span class="font-weight-800">we are</span> and what <span class="font-weight-800">we can do</span> for yoy?</h2>
              </div>
            {% end_container %}
            {% container containers, "100_100_100_65_65" %}
            <div class="proposal__content">
              <div class="proposal__spacer-top"></div>
              <p>
                  MeDDEa specialized in enterprise-grade management and technical consultancy services for a Dynamic Data Economy (DDE) across the three domains of access management, identity managementm, and data management. 
              </p>
              <div class="proposal__content-spacer-inner">
              </div>
              <p>
                  MeDDEa specialized in enterprise-grade management and technical consultancy services for a Dynamic Data Economy (DDE) across the three domains of access management, identity managementm, and data management. 
              </p>
              <div class="proposal__spacer-bottom"></div>
            </div>
            {% end_container %}
          {% end_responsive %}
        </section>
      </div>
    {% end_max_width %}

    <div class="contact-us">
      <section>
        {% max_width max_width %}
        {% buffer buffer, "max_width" %}
          <div class="contact-us__spacer-top"></div>
          <h2 class="text-white">
            Contact us
          </h2>
          <div class="contact-us__spacer-inner-1"></div>
          {% responsive %}
            {% container containers, "100_100_100_50_50" %}
              <form>
                {% responsive %}
                  {% container containers, "100_50_50_50_50" %}
                  {% buffer %}
                    <label class="visually-hidden">Enter your name</label>
                    <input type="text" placeholder="Name" class="field" name="user-name" id="user-name">
                  {% end_buffer %}
                  {% end_container %}
                  {% container containers, "100_50_50_50_50" %}
                  {% buffer %}
                    <label class="visually-hidden">Enter your mail</label>
                    <input type="email" placeholder="Email" class="field" name="user-email" id="user-email">
                  {% end_buffer %}
                  {% end_container %}
                  {% container containers, "100_100_100_100_100" %}
                    {% buffer %}
                    <textarea class="field"></textarea>
                    {% end_buffer %}
                  {% end_container %}
                  {% container containers, "100_100_100_100_100" %}
                    {% responsive %}
                      <div class="float-right ml-auto">
                        {% buffer %}
                          <button type="submit" class="button-2">Contact Us</button>
                        {% end_buffer %}
                      </div>
                    {% end_responsive %}
                  {% end_container %}
                {% end_responsive %}
              </form>
            {% end_container %}
            {% container containers, "100_100_100_50_50" %}
              <div class="contact-us__address">
                <address>
                <h3 class="text-white p">MeDDEa Solutions AG</h3>
                <div class="contact-us__address-spacer"></div>
                  <a class="p" href="https://www.google.com/maps/place/Spaces+-+Basel,+Grosspeter+Tower/@47.5442757,7.6030794,16.25z/data=!4m5!3m4!1s0x4791b836437873c5:0x3741b3ea9de33c59!8m2!3d47.5450004!4d7.6026437" target="_blank">
                    Grosspeter Tower, 21st floor<br>
                    Grosspeteranlage 29<br>
                    4052 Basel<br>
                    Swizerland
                  </a>
                </address>
              </div>
            {% end_container %}
          {% end_responsive %}
          <div class="contact-us__spacer-bottom"></div>
          {% end_buffer %}
        {% end_max_width %}
      </section>
    </div>
    <div class="footer">
      <footer>
        {% max_width max_width %}
          {% buffer buffer, "max_width" %}
          <div class="footer__spacer-top"></div>

          {% responsive %}
            {% container containers, "100_100_100_50_50" %}
              {% responsive %}
                <ul class="float-left responsive list-reset align-items-center">
                  <li class="float-left">
                    {% buffer %}
                    <a href="#" class="social-link" aria-label="Facebook">
                      <img src="/img/facebook.png" width="34" height="34" alt="Facebook logo">
                    </a>
                    {% end_buffer %}
                  </li>
                  <li class="float-left">
                    {% buffer %}
                    <a href="#" class="social-link" aria-label="Instagram">
                      <img src="/img/instagram.png" width="34" height="34" alt="Instagram logo">
                    </a>
                    {% end_buffer %}
                  </li>
                </ul>
                <h2 class="float-left p text-white">Meddea Solutions</h2>

              {% end_responsive %}
            {% end_container %}

            {% container containers, "100_100_100_50_50" %}
              <p class="footer__copyright">
                2021 Copyrights & Protected
              </p>
            {% end_container %}
          {% end_responsive %}

          <div class="footer__spacer-bottom"></div>
        {% end_buffer %}
        {% end_max_width %}
      </footer>
    </div>
  <!-- Header -->
  <script src="/js/utils.js"></script>
  <script src="/js/menu.js"></script>
</body>
</html>