<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  {% include 'partials/favicon.njk' %}

  <link rel="stylesheet" href="/css/responsive/max-width.css">
  <link rel="stylesheet" href="/css/responsive/responsive.css">
  <link rel="stylesheet" href="/css/responsive/container.css">
  <link rel="stylesheet" href="/css/responsive/buffer.css">
  <link rel="stylesheet" href="/css/typography.css">
  <link rel="stylesheet" href="/css/picture.css">
  <link rel="stylesheet" href="/css/spacers.css">
  <link rel="stylesheet" href="/css/utils.css">
  <link rel="stylesheet" href="/css/services.css">
  <link rel="stylesheet" href="/css/banner.css">
  <link rel="stylesheet" href="/css/button-2.css">
  <link rel="stylesheet" href="/css/accordion.css">
  <link rel="stylesheet" href="/css/accordion__control.css">

  <!-- Menu -->
  <link rel="stylesheet" href="/css/header.css">

  {% include 'partials/js-detect.njk' %}
</head>
<body>
  {% include 'partials/header.njk' %}
  {% max_width max_width %}
  {% responsive %}
  {% container containers, "100_100_100_45_45" %}
  <picture>
    <source type="image/webp" media="(min-width: 1240px)" srcset="/img/bg-subpage-desktop.webp">
    <source type="image/webp" media="(min-width: 768px)" srcset="/img/bg-subpage-tablet.webp">
    <source type="image/webp" srcset="/img/bg-subpage-mobile.webp">
    <img src="/img/bg-subpage-mobile.png" alt="" width="377" height="236">
  </picture>
  {% end_container %}
  {% container containers, "100_100_100_55_55" %}
  <div class="accordion-container">
  <div class="accordion-spacer-top"></div>
  <div id="accordion" class="accordion accordion--opened-{{ accordion__opened__panel }}">
  {% for accordion in accordion__list %}
    <div class="accordion__control-parrent responsive">
      <h2 class="accordion__title">
        {{ accordion.title }}
      </h2>
      <button class="accordion__control" type="button" disabled="disabled" aria-disabled="true" aria-expanded="true" aria-controls="accordion-panel-{{ loop.index }}" id="accordion-control-{{ loop.index }}">
      {{ buttons.read_more }}
      </button>
    </div>
    <div class="accordion__panel" id="accordion-panel-{{ loop.index }}" role="region" aria-labelledby="accordion-control-{{ loop.index }}">
    <div class="accordion-item__spacer-inner-1"></div>
      <p>{% markdown %} {{ accordion.content }} {% endmarkdown %}</p>
      <ul>
      {% for item in accordion.list %}
        <li>{{ item }}</li>
      {% endfor %}
      </ul>
    <div class="accordion-item__spacer-inner-2"></div>
    </div>
  {% endfor %}
  </div>
  <div class="accordion-spacer-bottom"></div>
  </div>
  {% end_container %}
  {% end_responsive %}

  <div class="banner">
    <section>
      <div class="banner__spacer-top"></div>
      <div class="banner__max-width">
        <h2 class="h3 text-center text-white">{% markdown %}{{ banner.heading }}{% endmarkdown %}</h2>
        <div class="spacer-16"></div>
        <a class="button-2" href="{{ banner.link }}">{{ buttons.contact_us }}</a>
      </div>
      <div class="banner__spacer-bottom"></div>
    </section>
  </div>

  {% end_max_width %}
  <!-- Header -->
  <script src="/js/utils.js"></script>
  <script src="/js/header.js"></script>
  <script src="/js/accordion.js"></script>
</body>
</html>